@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.target {
  border-radius: 20px;
  box-shadow: 16px 14px 20px #0000001c;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .target:hover {
  animation: floating 1s alternate infinite;
} */

@keyframes floating {
  from {
    bottom: -10px;
  }
  to {
    bottom: 20px;
  }
}

.textbox {
  margin-right: 10px;
  padding: 0;
  animation: movement 15s infinite ease-in-out;
}

@keyframes movement {
  0% {
    transform: translateY(calc(-48px * 0));
  }
  10% {
    transform: translateY(calc(-48px * 1));
  }
  20% {
    transform: translateY(calc(-48px * 2));
  }
  30% {
    transform: translateY(calc(-48px * 3));
  }
  40% {
    transform: translateY(calc(-48px * 4));
  }
  50% {
    transform: translateY(calc(-48px * 5));
  }
  60% {
    transform: translateY(calc(-48px * 6));
  }
  70% {
    transform: translateY(calc(-48px * 7));
  }
  80% {
    transform: translateY(calc(-48px * 8));
  }
  90% {
    transform: translateY(calc(-48px * 9));
  }
  100% {
    transform: translateY(calc(-48px * 10));
  }
}

.textboxchild {
  display: flex;
  align-items: center;
  justify-content: end;
  /* height: 48px; */
  list-style: none;
  background-clip: text;
  background: -webkit-linear-gradient(#1668ba, #831eae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* https://www.youtube.com/watch?v=wqb0kaRdyyA */
/* .target::after {
  content: "";
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  position: absolute;
  background-color: rgba(0, 0, 0, 0); 
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
} */

/* .target::before {
  content: "";
  background-image: conic-gradient(yellow 20deg, transparent 120deg);
  width: 150%;
  height: 150%;
  position: absolute;
  animation: rotate 2s linear infinite;
} */

/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
} */

/* @keyframes movescv {
  0% {
    top: 50%;
    left: 50%;
  }

  20% {
    top: 100%;
    left: 100%;
  }

  40% {
    top: 120%;
    left: 120%;
  }
  60% {
    top: 140%;
    left: 140%;
  }
  80% {
    top: 180%;
    left: 180%;
  }
  80% {
    top: 50%;
    left: 50%;
  }
} */

.slider-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to top right, #8b5cf6, #ec4899);
}

.slider {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
  /* background-color: #8b5cf6; */
}

.slider-item {
  position: absolute;
  width: 200px;
  height: 320px;
  text-align: justify;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 110px);
  top: 0;
  color: black;
  background-color: white;
  overflow: hidden;
}

.head-item {
  /* height: 100%; */
  position: absolute;
  text-align: justify;
  transition: 0.5s;
  font-size: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.clothes-item {
  position: absolute;
  text-align: justify;
  transition: 0.5s;
  left: 50%;
  transform: translateX(-50%);
}

#next,
#prev {
  position: absolute;
  top: 40%;
  border: none;
  left: 50px;
  padding: 5px 10px;
  border-radius: 100%;
  z-index: 9999999999999999;
}

#next {
  left: unset;
  right: 50px;
}
